
<div class="row">
    <div class="col-md-8 offset-md-2">
        <app-passengercount class="mb-5" 
                [getTotalCount]="totalCount"
                [getCheckInCount]="checkInCount">

        </app-passengercount>

        <ul class="list-group">
            <li class="list-group-item mb-2" *ngFor="let p of passengerArray">
                {{p.fullname}}
            </li>
        </ul>
    </div>
    <div class="col-md-8 offset-md-2">
        <app-passengercards [passObj]="p" *ngFor="let p of passengerArray"
                (emitPassenger)="getCount()">

</app-passengercards>
    </div>
</div>